.colorfooter {

    background: #474747;
}

.wrapper {
    width: 1600px;
    margin: auto;
    height: 638px;
    background: #474747;
    padding: 120px 150px 100px 150px;
}

.conteiner {
    display: inline-flex;
    align-items: flex-start;
    gap: 135px;
    width: 1300px;
    height: 420px;
    margin: auto;

}

.logotip {
    width: 300px;
    height: 157px;

}

.barist {
    display: flex;

    align-items: center;
}

.barist h1 {
    color: #FFF;
    font-size: 42.667px;
    font-style: italic;
    font-weight: 600;
}

.img_1 {
    width: 56px;
    height: 55px;
    background-image: url('./assets/japanese-food\ \(1\).svg');
}

.logotip p {
    padding-top: 35px;
    color: var(--neutral-04, #ADB29E);
    font: 400 16px DM Sans;
}

.info {
    display: flex;
    justify-content: space-between;
    width: 330px;
    height: 352px;
}

.pages {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 61px;
    height: 352px;

}

.utility {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 150px;
    height: 352px;
}


.info h2 {
    margin-bottom: 14px;
    font: 700 16px DM Sans;
    color: var(--neutral-01, #FFF);
}

.info p {
    font: 400 16px DM Sans;
    color: var(--neutral-01, #FFF);
}

.foto {
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 30px;
justify-content: space-around;
    width: 405px;
    height: 420px;
   
}

.foto h2 {
    
    color: var(--neutral-01, #FFF);
    font:700 16px DM Sans;
}

.potato {
    display: flex;
    gap: 13px;
}
.cake {
    display: flex;
    gap: 13px;

}

.img_2 {
    width: 195px;
    height: 170px;
    border-radius: 12px;
    background-image: url('./assets/pexels-steve-3789885\ 1.svg');
}

.img_3 {
    width: 195px;
    height: 170px;
    border-radius: 12px;
    background-image: url('./assets/eiliv-aceron-d5PbKQJ0Lu8-unsplash\ 1.svg');
}

.img_4 {
    width: 195px;
    height: 170px;
    border-radius: 12px;
    background-image: url('./assets/pexels-ella-olsson-1640772\ 1.svg');
}
.img_5 {
    width: 195px;
    height: 170px;
    border-radius: 12px;
    background-image: url('./assets/pexels-ash-376464\ 1.svg');
}


.block {
    width: 1600px;
    height: 140px;
    background: #474747;
    margin: auto;
}





.line {
    width: 1296px;
    height: 1px;
    background: #414536;

}

.block h1 {
    width: 424px;
    height: 24px;
    padding: 30px;
    margin: auto;
    color: var(--neutral-04, #ADB29E);
    font: 400 24px DM Sans;
    font-size: 16px;
}